:root {
  font-size: 62.5%; /* -> 1 rem = 10px */
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: #0e3a53;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: "Work Sans";
  font-weight: regular;
  text-align: center;
}
